*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

html , body{
    width: 100%;
    height: 100%;
}
#nav{
    height: 130px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 120px;
    gap: 45px;
    position: fixed;
    z-index: 99;

}

#cursor{
    background-color:#96c11ee4;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}

#cursor-blur{
    background-color:#96c11e70;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(60px);
}


#nav img {
    height: 80px;
}
#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    z-index: 10;
    /* background-color: red; */
}
#page1 h1{
    font-size: 90px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    top: -4px;
    left: -4px;
    color: black;
    z-index: -1;
    -webkit-text-stroke: 1px #96c11ee4;

}

#page1 h2{
    font-size:25px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size:14px;
    font-weight: 400;
    width: 50%;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    white-space: nowrap;
    /* background-color: red; */
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
    position: relative;


}

#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in{
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* #scroller-in-2{
    white-space: nowrap;
    display: inline-block;
    animation-name: scroller;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

#scroller h4{
    display: inline-block;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-right: 10px;
    -webkit-text-stroke: 2px #96c11ee4;
    color: transparent; 
    transition: all linear 0.4s;
}

#scroller h4:hover{
    color: #c0ff13e4;
}


@keyframes scroll {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#about-us{
    background-color: red;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    background-color: transparent;
    position: relative;
    z-index: 10;
    margin-top: 50px;
}

#about-us img{
    height: 150px;
    width: 120px;
    border-radius: 10px;
    object-fit: cover;
}

#about-us-in{
    width: 50%;
    text-align: center;
    margin-top: 50px;
}

#about-us-in h3{
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 40px;
}

#about-us-in p{
    font-size: 20px;
    line-height: 27px;
}

#card-container{
    /* background-color: red; */
    margin: 100px 0;
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    padding: 0 70px;

}

.card{
    height: 100%;
    width: 30%;
    background-color: blue;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}

#card-1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
#card-2 {
background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card-3 {
background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #c0ff13 ;
    padding: 80px 50px;
    opacity: 0;
    transition: all ease 0.4s;
    /* padding-top: 160px; */
}

.overlay h4{
    color: black;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    white-space: nowrap;
}

.overlay p{
    color: black;
    font-size:18px ;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(1,1,0,20deg);;
}

#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
}

#green-div h4{
    width: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 33px;
    color: black;
}

#green-div img{
    object-fit: cover;
    height: 100%;
    width: 15%;
}

#page3{
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p{
    font-size: 20px;
    font-weight: 700;
    width: 60%;
    line-height: 35px;
    text-align: center;
}

#page3 img{
    position: absolute;
    height: 60px;
}

#page3 #colon1{
    left: 10%;
    top: 16%;
}

#page3 #colon2{
    right: 14%;
    bottom: 22%;
}

#page4 {
    margin-top: 30px;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.elem {
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2 {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    color: #000;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-size: 2vw;
    position: absolute;
    z-index: 10;
}
.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}
.elem:hover h2 {
    color: #fff;
    background-color: transparent;
}
.elem:hover img {
    scale: 1;
}

#page4 h1 {
    font-size: 5.4vw;
    position: absolute;
    top: -15%;
    font-weight: 900;
    /* font-family: gilroy; */
    color: #000;
    -webkit-text-stroke: 2px #fff;
}

#footer {
    margin-top: 30px;
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }